.about-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: transparent; /* Ensure it inherits the existing background */
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
}

.about-text {
  flex: 1;
  padding: 20px;
}

.about-text h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
  color: black; /* Ensure the heading text is black */
}

.about-text p {
  font-size: 1.2em;
  line-height: 1.6;
  color: black; /* Ensure the paragraph text is black */
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-section {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  padding: 2rem;
  background-color: transparent; /* Make background transparent */
}

.blog-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.blog-posts {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.blog-post {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  transition: transform 0.3s;
}

.blog-post:hover {
  transform: translateY(-5px);
}

.blog-image {
  width: 100%;
  height: auto;
}

.blog-content {
  padding: 1rem;
}

.date, .author {
  font-size: 0.9rem;
  color: #555;
}

.title {
  font-size: 1.1rem;
  color: #333;
  margin-top: 0.5rem;
}




/* Nav link styles */
.nav-link {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
  }
  
  .nav-link::before,
  .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00fffc;
    transform: scaleX(0);
    transition: transform 0.25s;
  }
  
  .nav-link::before {
    top: -3px;
    transform-origin: left;
  }
  
  .nav-link::after {
    bottom: -3px;
    transform-origin: right;
  }
  
  .nav-link:hover::before,
  .nav-link:hover::after {
    transform: scaleX(1);
  }
  
  /* Add this style to indicate active state */
  .nav-link:active,
  .nav-link:focus,
  .nav-link.active {
    color: #00fffc;
  }
  
  /* Add this style to underline the active state */
  .nav-link.active::before,
  .nav-link.active::after {
    transform: scaleX(1);
  }
  



  .card {
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  }


  .pcard {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 300px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
  }
  
  .pcard__img {
    height: 192px;
    width: 100%;
  }
  
  .pcard__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .pcard__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
  }
  
  .pcard__avatar svg {
    width: 100px;
    height: 100px;
  }
  
  .pcard__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .pcard__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
  }
  
  .pcard__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: var(--main-color);
    background: var(--bg-color);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .pcard__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .pcard__btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .pscard__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }

  .container {
    --input-focus: #2d8cf0;
    --input-out-of-focus: #ccc;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    cursor: pointer;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    width: 25px;
    height: 25px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--input-out-of-focus);
    transition: all 0.3s;
  }
  
  .container input:checked ~ .checkmark {
    background-color: var(--input-focus);
  }
  
  .checkmark:after {
    content: "";
    width: 7px;
    height: 15px;
    position: absolute;
    top: 2px;
    left: 8px;
    display: none;
    border: solid var(--bg-color);
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: xx-large;
    font-style: italic;
  }
  

  .input1 {
    font-family: "SF Pro";
    max-width: 400px;
    padding: 0.875rem;
    font-size: 1rem;
    border: 1.5px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
  }
  
  .input1:focus {
    box-shadow: 5.5px 7px 0 black;
  }
  

  .button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #056bfa27;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable1 {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #056DFA;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button1:hover {
    background: #056bfa49;
  }
  
  .button1:hover .svg-icon1 {
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-8deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(8deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }

  .button2 {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
  }
  
  .button2:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
  }

  

 